footer{
    background-color: #061c2d;
   
   div {

           display: flex;
           flex-wrap: wrap;

    div{

           display: flex;
           flex-wrap: wrap;
        p{
            color: #ECDEC3;
            margin-left: 5px;
        }
    }

        div{

            ul{
                list-style: none;
                

                li{

                    a{
                    text-decoration: none;
                    color: #ECDEC3;
                    }
                }
            }
        }

   }

  
}
