header{
        background-color: #061c2d;
        
       

        ul{
                color: #8ab661;
                list-style: none;
                display: inline;
        }

        a{
                text-decoration: none;
                color: #ECDEC3;
        }
}

