footer {
  background-color: #061c2d;
}

footer div {
  display: flex;
  flex-wrap: wrap;
}

footer div div {
  display: flex;
  flex-wrap: wrap;
}

footer div div p {
  color: #ECDEC3;
  margin-left: 5px;
}

footer div div ul {
  list-style: none;
}

footer div div ul li a {
  text-decoration: none;
  color: #ECDEC3;
}
