header {
  background-color: #061c2d;
  padding: 1%;
}

header div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header div div h1 {
  color: #8ab661;
}

header div div ul {
  color: #8ab661;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header div div ul li {
  margin: 2px 12px;
  font-size: 2rem;
}

header div div a {
  text-decoration: none;
  color: #ECDEC3;
}
